{% extends 'base.html.twig' %}
{% block body %}
    <div class="example-wrapper">
        <a href="{{ path('security_login')}}"> Connexion</a>
        <div>
            {% for post in posts %}
                {{ post.name }}
                <img src="{{ vich_uploader_asset(post, 'imageFile') }}" width="150px">
            {% endfor %}
        </div>
    </div>
{% endblock %}
