{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi itaque laboriosam laborum laudantium,
            magni maxime minima natus nemo neque perspiciatis quaerat quis saepe temporibus totam veniam! Nemo quam
            ut voluptas!</p>
    </div>
{% endblock %}