{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block header_logo %}
    <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('homepage') }}">
        {{ easyadmin_config('site_name')|raw }}
    </a>
{% endblock header_logo %}